<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NTS</title>

    <link rel="icon" type="image/png" href="../images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../css/reset.css" media="all">
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="all">
    <script type="text/javascript" src="../js/jquery-3.6.3.min.js" charset="UTF-8"></script>
</head>
<body>
    <header></header>

    <main>
        <nav></nav>
        <article>
            <section></section>
        </article>
        <aside></aside>
    </main>

    <footer></footer>

    <!-- modal -->
    <div class="modal"></div>
    <!-- //modal -->
    <script type="text/javascript" src="../js/index.js" charset="UTF-8"></script>
</body>
</html>