<!-- rgb: 47555e / b3101b-->
<div class="header__logo">
    <div class="logo">
        <svg viewBox="0 -36 500 500">
            <rect fill="#FFFFFF00" x="0" y="0" width="500" height="500"></rect>
            <polygon fill="#e0e0e0" points="153 171 153 203 249 147 249 115"></polygon>
            <polygon fill="#e0e0e0" points="153 225 153 258 249 202 249 169"></polygon>
            <polygon fill="#e0e0e0" points="250 281 250 314 346 258 346 225"></polygon>
            <polygon fill="#e0e0e0" points="250 227 250 259 346 203 346 171"></polygon>
            <polygon fill="#e0e0e0" fill-opacity=".7" points="153 203 250 259 250 227 153 171"></polygon>
            <polygon fill="#e74c3c" fill-opacity=".8" points="249 147 346 203 346 171 249 115"></polygon>
            <polygon fill="#e0e0e0" fill-opacity=".7" points="249 202 346 258 346 225 249 169"></polygon>
            <polygon fill="#e0e0e0" fill-opacity=".7" points="153 258 250 314 250 281 153 225"></polygon>
        </svg>
    </div>
</div>
<div class="header__profile">
    <div class="profile">
        <div class="profile__text">
            <div class="profile__welcome">
                <span class="profile__name">관리자</span>님 환영합니다
            </div>
            <span class="profile__logout">로그아웃</span>
        </div>
        <div class="profile__image"></div>
    </div>
</div>
