<div class="menu">
    <ul class="menu__list">
        <li class="menu__title">대시보드</li>
        <li class="menu__item"><span>대시보드</span></li>
    </ul>
    <ul class="menu__list">
        <li class="menu__title">사이트 관리</li>
        <li class="menu__item"><span>사용자 관리</span></li>
        <li class="menu__item"><span>게시물 관리</span></li>
        <li class="menu__item"><span>문의사항 관리</span></li>
    </ul>
    <ul class="menu__list">
        <li class="menu__title">시스템 관리</li>
        <li class="menu__item"><span>공지사항 관리</span></li>
        <li class="menu__item"><span>권한 관리</span></li>
        <li class="menu__item"><span>메뉴 관리</span></li>
    </ul>
    <ul class="menu__list">
        <li class="menu__title">통계</li>
        <li class="menu__item"><span>사이트 방문자 수</span></li>
        <li class="menu__item"><span>사이트 가입자 수</span></li>
        <li class="menu__item"><span>페이지 조회 수</span></li>
    </ul>
</div>
